<!DOCTYPE html>
<html>
<head>
  <title>RoboARM Control</title>
  <style>
    .slider-container {
      margin-bottom: 20px;
    }

    .slider-label {
      display: inline-block;
      width: 100px;
      font-weight: bold;
    }

    .slider {
      width: 300px;
    }
  </style>
</head>
<body>
  <h1>RoboARM Control</h1>

  <div class="slider-container">
    <label class="slider-label">Servo 1:</label>
    <input type="range" class="slider" id="servo1Slider" min="0" max="180" value="90">
    <span id="servo1Value">90</span>
  </div>

  <div class="slider-container">
    <label class="slider-label">Servo 2:</label>
    <input type="range" class="slider" id="servo2Slider" min="0" max="180" value="90">
    <span id="servo2Value">90</span>
  </div>

  <div class="slider-container">
    <label class="slider-label">Servo 3:</label>
    <input type="range" class="slider" id="servo3Slider" min="0" max="180" value="90">
    <span id="servo3Value">90</span>
  </div>

  <div class="slider-container">
    <label class="slider-label">Servo 4:</label>
    <input type="range" class="slider" id="servo4Slider" min="0" max="180" value="90">
    <span id="servo4Value">90</span>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script>
    // Conecta ao servidor WebSocket
    var socket = io();

    // Função para enviar os valores dos servos para o servidor
    function updateServo(servoId, angle) {
      // Atualiza o valor do span correspondente ao servo
      var servoValueSpan = document.getElementById('servo' + servoId + 'Value');
      servoValueSpan.textContent = angle;

      // Envia os valores do servo para o servidor WebSocket
      socket.emit('update_servo', { servoId: servoId, angle: angle });
    }

    // Event listeners para atualizar os valores dos servos
    document.getElementById('servo1Slider').addEventListener('input', function() {
      var angle = this.value;
      updateServo(1, angle);
    });

    document.getElementById('servo2Slider').addEventListener('input', function() {
      var angle = this.value;
      updateServo(2, angle);
    });

    document.getElementById('servo3Slider').addEventListener('input', function() {
      var angle = this.value;
      updateServo(3, angle);
    });

    document.getElementById('servo4Slider').addEventListener('input', function() {
      var angle = this.value;
      updateServo(4, angle);
    });
  </script>
</body>
</html>
