<!DOCTYPE html>
<html>
<head>
    <title>API Monitor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Escutar eventos 'api_response' enviados pelo servidor
        socket.on('api_response', function(data) {
            // Atualizar a interface do usuário com os dados recebidos
            document.getElementById('response').innerText = JSON.stringify(data, null, 2);
        });
    </script>
</head>
<body>
    <h1>API Monitor</h1>
    <pre id="response"></pre>
</body>
</html>
